In [1]:
#python type conversion

In [2]:
# 1. convert a integer to a floating point number
#code for it

In [3]:
a = 5

In [4]:
A = float(a)

In [5]:
print(A)

5.0

In [6]:
# 2 convert a float to an integer

In [7]:
b = 7.0

In [8]:
B = int(b)

In [9]:
print(B)

7

In [10]:
# 3 convert an integer to a string

In [13]:
c = 45

In [17]:
C = str(c)

In [18]:
print(C)

45

In [1]:
# 4 convert a list to a tuple

In [2]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [3]:
#5 convert a tuple to a list
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [5]:
#6 Convert a decimal number to binary.
a = 10
A = bin(a)
print(A)

0b1010

In [1]:
#7 convert a non zero number to boolean
number = 42
boolean_value = bool(number)
print(boolean_value)

True