In [3]:
# PYTHON OPERATORS
# 1 calculate the sum of two numbers

num1 = 10
num2 = 5

add = num1 + num2
print(add)

15

In [4]:
#calculate the difference
num1 = 10
num2 = 5

substract = num1 - num2
print(substract)

5

In [5]:
# calculate product of two numbers
num1 = 10
num2 = 5

multi = num1 * num2
print(multi)

50

In [6]:
# calculate the quotient of two numbers
num1 = 10
num2 = 5

quotient = num1 / num2
print(quotient)

2.0

In [1]:
# 2 Perform various assignment operations on a variable 
x = 10

# Addition assignment
x += 5 
print(x)

# Subtraction assignment
x -= 3  
print(x)  

# Multiplication assignment
x *= 2
print(x) 

# Division assignment
x /= 4  
print(x)

15
12
24
6.0

In [2]:
# 3 Compare two numbers and print the results.

2 == 2

True

In [3]:
2 != 2

False

In [4]:
6 != 2

True

In [5]:
7 > 2

True

In [6]:
7 < 2

False

In [7]:
10 >= 9

True

In [8]:
10 <= 9

False

In [1]:
# 4 check conditions using logical operators

# AND operator
x = 5
y = 10
if x > 0 and y > 0:
    print("Both x and y are greater than 0")

# OR operator
if x < 0 or y < 0:
    print("At least one of x or y is less than 0")

# NOT operator
if not(x == 0):
    print("x is not equal to 0")

Both x and y are greater than 0
x is not equal to 0

In [2]:
# 5 Check the identity of variables

a = 2 
b = 3
a is b

False

In [3]:
a = 5
b = a
a is b

True

In [13]:
# 6 Perform bitwise operations on any two integers
# Define two integers
x = 10    # Binary: 1010
y = 6     # Binary: 0110

# Bitwise AND
result_and = x & y  # Binary: 0010 (Decimal: 2)
print("Bitwise AND:", result_and)

# Bitwise OR
result_or = x | y   # Binary: 1110 (Decimal: 14)
print("Bitwise OR:", result_or)

# Bitwise XOR
result_xor = x ^ y  # Binary: 1100 (Decimal: 12)
print("Bitwise XOR:", result_xor)

# Bitwise NOT
result_not_x = ~x   # Binary: -1011 (Decimal: -11)
result_not_y = ~y   # Binary: -0111 (Decimal: -7)
print("Bitwise NOT of x:", result_not_x)
print("Bitwise NOT of y:", result_not_y)

# Left Shift
result_left_shift = x << 2  # Binary: 101000 (Decimal: 40)
print("Left shift of x by 2 bits:", result_left_shift)

# Right Shift
result_right_shift = y >> 1  # Binary: 0001 (Decimal: 1)
print("Right shift of y by 1 bit:", result_right_shift)

Bitwise AND: 2
Bitwise OR: 14
Bitwise XOR: 12
Bitwise NOT of x: -11
Bitwise NOT of y: -7
Left shift of x by 2 bits: 40
Right shift of y by 1 bit: 3

In [14]:
  # 7 use unary operators to change the sign of a number
~9

-10

In [15]:
#8 Use the ternary operator to assign values based on conditions
# Define a condition
x = 10

# Assign a value based on the condition using the ternary operator
result = "Positive" if x > 0 else "Non-positive"

print("The number is:", result)

The number is: Positive